<h1>Listing donors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Accepted terms</th>
      <th>Accepted terms on</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Phone number</th>
      <th>Type donor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @donors.each do |donor| %>
      <tr>
        <td><%= donor.name %></td>
        <td><%= donor.accepted_terms %></td>
        <td><%= donor.accepted_terms_on %></td>
        <td><%= donor.address %></td>
        <td><%= donor.city %></td>
        <td><%= donor.state %></td>
        <td><%= donor.zip %></td>
        <td><%= donor.phone_number %></td>
        <td><%= donor.type_donor %></td>
        <td><%= link_to 'Show', donor %></td>
        <td><%= link_to 'Edit', edit_donor_path(donor) %></td>
        <td><%= link_to 'Destroy', donor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Donor', new_donor_path %>
