<h1>Listing payment_accounts</h1>

<table>
  <thead>
    <tr>
      <th>Processor</th>
      <th>Donor</th>
      <th>Requires reauth</th>
      <th>External account</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payment_accounts.each do |payment_account| %>
      <tr>
        <td><%= payment_account.processor %></td>
        <td><%= payment_account.user_id %></td>
        <td><%= payment_account.requires_reauth %></td>
        <td><%= payment_account.external_account_id %></td>
        <td><%= payment_account.user_key %></td>
        <td><%= payment_account.user_pass %></td>
        <td><%= link_to 'Show', payment_account %></td>
        <td><%= link_to 'Edit', edit_payment_account_path(payment_account) %></td>
        <td><%= link_to 'Destroy', payment_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment account', new_payment_account_path %>
